@import '../../sass/variables.scss';

.slot-card{
  margin-top: 8px;
  width: 100%;
  padding: 0 10px 0 0;

  
  .card-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    padding: 10px;
    background-color: $card-bg-color;

    .slot-name{
      h4{
        line-height: 1.6;
        font-weight: 700;
        font-size: 16px;
        color:$text-color-secondary;
      }
    }

    .disinfection{
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // align-items: center;
      width: 100%;
      padding: 4px 0;

      h4{
        margin: 3px 0;
      }

      .disinfection-time{
        display: flex;
        margin: 5px 0;
  
        .disinfection-text{
          padding: 1px;
          margin-right: 2px;
        }

        .disinfection-timestamp{
          padding: 1px;
        }
      }
    }

    .disinfection-status{
      width: 100%;
      color: White;
    }

    &.yellow{
      background-color: #e9e91f;
    }

    &.green{
      background-color: rgb(29, 163, 29);
    }
    &.orange{
      background-color: rgb(224, 132, 13);
    }
    &.red{
      background-color: rgb(224, 22, 22);
    }
  }
}